.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 15px;
  background: #29323C;
  z-index: 99;
}
.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectName {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 0;
}
.cart {
  position: relative;
  display: flex;
}
.cart a {
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 25px;
}
.cart a:hover {
  text-decoration: underline;
}
.cart .count {
  position: absolute;
  bottom: -22px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 0 3px;
  background: red;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}
.cart .count:before {
  content: '';
  position: absolute;
  top: -4px;
  right: 10px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background: red;
}